form {
    background-color: #a70000;
    max-width: 90% !important;
}

.inputform {
    color: white;
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 50px;
    padding: 20px;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.inputform div {
    text-align: left;
    margin: 30px 20px;
    max-width: 90% !important;
}

.heading {
    margin-bottom: 50px;
    border-bottom: 2px solid white;
}

.labels {
    font-size: 30px;
    margin: 10px;
    display: none;
}

.inputs {
    max-width: 100% !important;
    /* margin: 10px; */
    font-size: 25px;
    background-color: white;
    border: black 2px;
    border-radius: 20px;
    text-align: center;
    padding: 10px 20px 10px 20px;
    color: black;
}

.submitbtn {
    width: 100%;
    margin: 5px;
    border-color: rgb(38, 44, 44);
    border-radius: 10px;
    color: black;
    background-color: rgba(255, 255, 255, 0.712);
    font-size: 25px;
    padding: 10px;
}

.submitbtn:hover {
    border: 2px solid black;
    color: white;
    background-color: green;
}

.links {
    margin-top: 50px;
}

.links img:hover {
    filter: none;
    background-color: cyan;
    border-color: cyan;
}

.links img {
    filter: invert(90%) sepia(28%) saturate(3319%) hue-rotate(118deg) brightness(99%) contrast(107%);
    /* filter: invert(8%) sepia(94%) saturate(7088%) hue-rotate(248deg) brightness(102%) contrast(149%); */
    /* filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(337deg) brightness(104%) contrast(102%); */
    margin: 20px;
    padding: 5px;
    border: 5px solid black;
    border-radius: 100px;
    width: 50px;
}