{% extends "base.html" %} {% block content %}

<div class="card-group">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <!-- Card -->
  {% for device in devices %}
  <div class="card" style="width: 70rem; max-width: 80vw">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <!-- <p id="{{device.device_id}}" class="text-uppercase small mb-2">
              <strong>Last Run:</strong>
            </p> -->
            <h5 class="font-weight-bold mb-0">ID:{{device.device_id}}</h5>
          </div>
        </div>
      </div>
    </div>

    <hr class="my-0" />

    <div class="card-body">
      <canvas id="lineChart-{{device.device_id}}"></canvas>
    </div>

    <hr class="my-0" />

    <div
      class="card-body"
      style="border-bottom: 5px solid black; margin-bottom: 5px"
    >
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <p class="text-uppercase small mb-2">
              <strong>Analog Input:</strong>
            </p>
            <h5 class="font-weight-bold mb-0">{{device.analog_input|last}}</h5>
          </div>
          <div class="col-md-auto">
            <div class="btn-group-toggle" data-toggle="buttons">
              <form
                method="post"
                name="form2"
                action="/delete_device/{{device.device_id}}"
                style="background-color: white; border: none"
              >
                {% csrf_token %}
                <button class="btn btn-danger active float-right mt-2">
                  Delete Device
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function updateChart() {
        var dvc = "{{ device.device_id }}";

        // make an AJAX request to fetch the new data from the backend
        $.ajax({
          url: "/get-chart-data",
          data: {
            device_id: dvc,
          },
          dataType: "json",
          success: function (data) {
            var moi = data.analog_input;
            var labels = [];
            var lr = " More than an hour ago";
            for (let i = 0; i < moi.length; i++) {
              if (moi[i] < 55) {
                lr = " " + String(5 * (moi.length - i - 1)) + " sec ago";
              }
              labels.push("");
            }

            // get the chart object
            var ctxL = document
              .getElementById("lineChart-" + dvc)
              .getContext("2d");
            var myLineChart = Chart.instances["lineChart-" + dvc];

            // update the chart's data with the new data
            myLineChart.data.datasets[0].data = moi;
            myLineChart.data.labels = labels;
            myLineChart.update();
          },
        });

        setTimeout(updateChart, 1000);
      }

      updateChart();
    </script>
    {% endfor %}
    <!-- Card -->
  </div>

  {% endblock content%}
</div>
