{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm" style="max-width: 1200px">
      <img
        style="width: 100%"
        src="https://user-images.githubusercontent.com/78701055/165725617-1aec864b-7b75-4e90-aa0f-74c6161b00ca.png"
      />
      <br /><br />
      <h3><b>About the project:</b></h3>
      <hr />
      <h6>
        It is the IoT Based Smart EMG Monitoring System with Nodemcu ESP8266.
        <br /><br />
      </h6>

      <br />
      <h3><b>Hardware Components used:</b></h3>
      <hr />
      <div class="table-responsive">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>
                <img
                  height="100px"
                  width="100px"
                  src="https://user-images.githubusercontent.com/78701055/165717011-2a3ec22e-2812-4dbf-9073-11a4ed1ea21e.jpg"
                  alt=""
                />
              </td>
            </tr>
            <tr style="font-size: small">
              <td>ESP8266</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br />
      <!-- <h3><b>Final Circuit:</b>
            </h3>
            <hr>
            <img style="max-width: 800px; width: 80vw;"
                src="https://user-images.githubusercontent.com/78701055/165721822-8ce9857e-6f89-431b-96a5-bb17adb5e330.jpeg"> -->
    </div>
    <div class="col-sm" style="margin-top: 50px">
      <div
        id="profile-doc"
        class="card sticky-top"
        style="top: 100px; border: none"
      >
        <h1 id="profile">
          PROFILE
          <a href="edit"
            ><i class="bx bx-edit nav_icon" style="font-size: 0.9em"></i
          ></a>
        </h1>
        <hr />
        <div class="profileContainer">
          <ul style="list-style-type: none">
            <li>
              <h4 id="profile-user-name" style="font-weight: 600">
                Name : {{name}}
              </h4>
            </li>
            <li>
              <h4 id="profile-user-username">Username: {{username}}</h4>
            </li>
            <li>
              <h4 id="profile-email">Email: {{email}}</h4>
            </li>
            <li>
              <h4 id="profile-devies">Devices: {{devices}}</h4>
            </li>
            <li>
              <button
                class="btn btn-primary btn-rounded mt-2"
                onclick="add_device()"
                style="width: 190px; text-align: center"
              >
                Add New Device
              </button>
              <a href="devices">
                <button
                  class="btn btn-outline-primary btn-rounded mt-2"
                  style="width: 190px; text-align: center"
                >
                  View All Devices
                </button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <a
      class="btn btn-primary btn-rounded mt-2"
      href="#profile-doc"
      id="show-btn"
      style="
        width: max-content;
        font-size: small;
        text-align: center;
        position: fixed;
        bottom: 50px;
        right: 5px;
      "
    >
      &#8595; Profile
    </a>
  </div>
  <script>
    function add_device() {
      id = prompt("Enter Device ID");
      if (id != null) {
        window.location.href = "add_device/" + id;
      }
    }
  </script>
</div>
{% endblock content%}
